@import "colors.css";

* {
  font-family: "0xProto Nerd Font Propo";
  font-size: 12px;
  font-weight: normal;
  border: none;
  padding: 0;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: 2.5px solid alpha(@foreground, 0.1);
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 8px;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
}

#workspaces {
  border-radius: 2px;
  margin: 6px 0 2px 0;
  opacity: 0.95;
}

#workspaces button {
  font-size: 10px;
  padding: 0 5px;
  margin: 3px 1px;
  border-radius: 2px;
  background-color: alpha(@foreground, 0.8);
  color: @background;
  transition: all 0.3s ease-in-out;
  opacity: 0.65;
}

#workspaces button.active {
  font-size: 10px;
  padding: 0 5px;
  margin: 3px 1px;
  border-radius: 2px;
  color: @background;
  background-color: alpha(@foreground, 0.9);
  opacity: 1;
}

#workspaces button.empty {
  font-size: 10px;
  background-color: alpha(@foreground, 0.65);
  opacity: 0.3;
}

#workspaces button.empty.active {
  font-size: 10px;
  padding: 0 5px;
  margin: 3px 1px;
  border-radius: 2px;
  color: @background;
  background-color: alpha(@foreground, 0.9);
  opacity: 1;
}

#workspaces button:hover,
#workspaces button:hover.empty {
  background-color: @foreground;
  color: @background;
  opacity: 1;
}

#custom-arch {
  font-size: 13px;
  color: @accent;
  margin: 3px 5px 0;
}

#custom-power {
  font-size: 13px;
  color: @accent;
  margin: 3px 5px 0;
}

#clock {
  color: @accent;
  font-size: 12px;
  margin: 3px 5px 0;
}

#custom-weather,
#memory,
#cpu,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#tray,
#idle_inhibitor {
  font-size: 12px;
  min-width: 10px;
  margin: 3px 0 0;
  padding: 0 4px;
  color: @foreground;
}

#idle_inhibitor.activated {
  color: @accent;
}

#idle_inhibitor.deactivated {
  color: @foreground-dim;
}

#memory.warning,
#cpu.warning,
#network.disconnected {
  color: @warning;
}

#memory.critical,
#cpu.critical {
  color: @critical;
}

#custom-arch:hover,
#custom-power:hover,
#memory:hover,
#clock:hover,
#cpu:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover,
#pulseaudio:hover,
#tray:hover,
#idle_inhibitor:hover,
#custom-weather:hover {
  color: @accent;
  transition: 0.2s ease-in-out;
}

tooltip {
  padding: 4px 6px;
  background: @background-alt;
  font-size: 11px;
  border: 1px solid alpha(@foreground, 0.8);
  border-radius: 8px;
}

tooltip label {
  color: @foreground;
  font-weight: normal;
}
