* {
    background:     #2d353bFF;
    background-alt: #32383eFF;
    foreground:     #d3c6aaFF;
    muted:          #859289FF;
    accent:         #7fbbb3FF;
    active:         #a7c080FF;
    urgent:         #e67e80FF;
    selected:       #d3c6aaFF;
}
